# Dependencies
node_modules/

# Build output
dist/
dist-client/

# TypeScript build info
*.tsbuildinfo

# IDE
.idea/

# Environment
.env
.env.*
/.venv/
labelle-main/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
output.png
.bash_history
